# binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
vendor/
*.test
coverage.out

# Node
node_modules/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Storage files
storage/*
!storage/.gitkeep